@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-SemiBold.ttf") format("ttf");
  font-weight: bold;

}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Light.ttf") format("ttf");
  font-weight: lighter;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 10px ;
}

header {
  min-width: 90vw;
  min-height: 7vh;
  background-color: #ffffff;
}

header img {
  height: 25%;
  width: 25%;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}

.EOS-M50 {
  max-width: 50%;
}

h3 {
  font-size: 25px;
  color: #63696F;
}

.logo {
  max-width: 20%;
  margin-right: 10px;
}

.titre-fiche {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carac-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mega-pixel {
  margin-right: 10px;
}

.auto-focus {
  margin-right: 10px;
}

.caracteristiques {
  padding-top: 30px;
}

.lesplus {
  padding-top: 30px;
}

.galeries {
  padding-top: 30px;
}

.photogalerie {
  max-width: 100%;
}

.feather {
  max-width: 10%;
  margin-right: 30px;
  margin-left: 10px;
}

.hidden-mobile {
  display: none;
}

p {
  font-size: 13px;
}

@media (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 1fr 6fr 2fr 2fr;
  }
  header {
    grid-column: 1;
    grid-row: 1;
  }
  .hidden-mobile {
    display: block;
  }

}